<% layout('layouts/boilerplate.ejs') -%>
    <div class="flex-fill">
        <div>
            <img src="/assets/authDemo.png" class="img-fluid" alt="Authentication">
            <h1 class="card-title"></h1>
        </div>
    </div>
    <div class="flex-fill d-flex flex-column justify-content-around">
        <form action="/register">
            <button class="btn btn-secondary col-6">Register</button>
        </form>
        <form class="mt-2" action="/login">
            <button class="btn btn-info col-6">Login</button>
        </form>
    </div>